/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html, body{
  height: 100%;
  width: 100%;
}

.Home-Btn img{
  height: 45px;
  position: relative;
  right: 65%
}

.Home-Btn img:hover {
  height: 55px;
}

.Login-Btn img {
  height: 50px;
  position: relative;
  right: 5%;
}

.Login-Btn img:hover {
  height: 55px;
}

#Home {
  background:#5BA8E4;
  height: 100%;
  width: 100%;
  background-size: cover;
}

#Title {
  color: white;
  position: relative;
  top: 20%;
  font-size: 50px;
  text-align: center;
  transform: translate(0, -50%);
  font-family: "Courier New", Courier, monospace;
}

.btn {
  position: relative;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 60%;
  left: 50%;
  margin:0 auto;
  font-family: "Courier New";
  font-size: 32px;
  color: white;
  letter-spacing: 1px;
  line-height: 35px;
  border: 2px solid #37688E;
  border-radius: 400px;
  background: #37688E;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  font-size: 40px;
  line-height: 43px;
  color: white;
}

#Summary-Section{
  color: white;
  position: relative;
  top: 60%;
  font-size: 30px;
  text-align: center;
  transform: translate(0, -50%);
  font-family: "Courier New", Courier, monospace;
}
